<div class="modal fade" id="workstation_select_warning_modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header alert alert-info">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="workstation_select_warning_modal_title">Workstation and Print Job Alert</h4>
      </div>
      <div class="modal-body" id="workstation_select_warning_modal_body">
        <% if @batch_assign_workstation_msg.present? %>
          <% @batch_assign_workstation_msg.each do |msg| %>
            <%= msg.html_safe %><br />
          <% end %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<% if @batch_assign_workstation_msg.present? %>
  <script>
    $(document).ready(function() {
      $("#workstation_select_warning_modal").modal();
    });
  </script>
<% end %>
