body {
    padding-bottom: 30px;
    min-width: 970px;
}

.container {
    width: 970px;
    max-width: none !important;
}

/* CUSTOM */
#headerTitle h1{
    padding-bottom: 15px;
    width:970px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

*:focus {
    outline: 0 !important;
}

.btn-tool {
    width: 48px;
    height: 48px;
    margin-bottom: 24px;
}

.btn-layer {
    width: 100%;
    height: 38px;
    margin-bottom: 6px;
    text-align: left;
}

.tab {
    border: 1px solid #ddd;
    border-top: 0;
    padding-bottom: 12px;
    height: 170px;
    overflow-y: auto;
    /*min-height: 170px;*/
}

.tab label {
    padding-top: 6px;
}

.tab-row {
    padding-top: 12px;
}

.tab-row .checkbox {
    margin:0;
    margin-top:5px;
}

.dropdown-toggle .caret {
    margin-left: 10px;
}

.layersList {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 260px;
}

.layersList li {
    list-style-type: none;
}

.layersList li div {
    margin:0; padding:0;
}

.layersList .active {
    font-weight: bold;
}

.position.row {
    padding: 5px;
}

.layerText {
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#tab-newImage {
    padding-top:10px;
}

.imageList {
    width:100%;
    height:150px;
    overflow-y: scroll;
}

.imageListPicShadow {

}

#modalSelectImageList, #modalSelectBGImageList {
    /*
    -moz-column-width: 152px;
    -webkit-column-width: 152px;
    column-width: 152px;*/
    -webkit-columns: 100px 2;
    -moz-columns: 100px 2;
    columns: 100px 2;
}

.imageListPic {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}

.sideButtons {
    /*
    position: relative;
    top: -501px;*/
}

/* MODALS */
.imageListModal {

}

.imageListModal .row {
    padding-bottom:20px;
}

.imageListModal img {
}

.imageListPic .selected {
    -moz-box-shadow: 1px 1px 5px #999; -webkit-box-shadow: 1px 1px 5px #999; box-shadow: 1px 1px 5px #999;
}

.imageListModal img:hover {
    cursor: pointer;
    -moz-box-shadow: 1px 1px 5px #999; -webkit-box-shadow: 1px 1px 5px #999; box-shadow: 1px 1px 5px #999;
}

#modalSelectImagePreview {
    /*
    width: 100%;
    height: 100%;*/
}

.previewFront, .previewBack, .previewBarcode {
    border: 1px solid #808080;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.previewBarcode {
    margin-top: 20px;
    max-height: 500px;
}

.responsive-container {
    position: relative;
    width: 100%;
}

.dummy {
    padding-top: 100%; /* forces 1:1 aspect ratio */
}

.img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    text-align:center; /* Align center inline elements */
    font: 0/0 a;
}

.img-container .centerer {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.img-container img {
    vertical-align: middle;
    display: inline-block;
    max-height: 100%;  /* <-- Set maximum height to 100% of its parent */
    max-width: 100%;   /* <-- Set maximum width to 100% of its parent */
}

.templateList {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 495px;
}

.templateList .row {
    padding-bottom: 10px;
    padding-right: 5px;
}

.templateList .col-xs-11 {
    padding-left:0;
    padding-right:0;
    margin-right: 0;
    overflow:hidden
}

.templateList .col-xs-1 {
    padding-right:0;
    padding-left:0;
    margin-left:0
}

.templateList button {
    text-align: left;
}

#templateList h5 a:hover {
    text-decoration: none;
}

#modalListOfVariablesContent {
    max-height: 500px;
    overflow-y: auto;
}

#modalListOfVariablesContent thead th:nth-child(1) {
    padding-left:20px;
    width:30px;
}

#modalListOfVariablesContent td:nth-child(1) {
    padding-left:20px;
}

#modalListOfVariablesContent td:nth-child(2) {
    font-weight: bold;
    width: 25%;
}

#modalListOfVariablesContent td:nth-child(3) {
    width: 25%;
}

/* Dropdown in a scrollable div fix */
.dropdown-menu {
    position:fixed;
}

/* Select Card Type */
#tab-card .dropdown-menu {
    width: 400px;
}

#tab-card .description {
    white-space: normal;
    margin-bottom: 10px;
}

#tab-card .dropdown-menu {
    height: auto;
    max-height: 500px;
    overflow-x: hidden;
}

#tab-card .dropdown-menu h4 {
    margin-top:0;
}

.floatLeft {
    float: left;
}

.heightHalf {
    height: 237px;
}

.heightFull {
    height: 475px;
}

.widthHalf {
    width: 50%;
}

.widthFull {
    width: 100%;
}

#specialHandlings {
    max-height: 140px;
    overflow: auto;
    padding-left: 20px;
}

/* Scrollable tabs */
.wrapper {
    position:relative;
    margin:0 auto;
    overflow:hidden;
    padding:5px;
    height:43px;
}

.list {
    position:absolute;
    left:0px;
    top:0px;
    min-width:3000px;
    margin-left:0px;
    margin-top:0px;
}

.list li{
    display:table-cell;
    position:relative;
    text-align:center;
    cursor:grab;
    cursor:-webkit-grab;
    color:#efefef;
    vertical-align:middle;
}

.scroller {
    text-align:center;
    cursor:pointer;
    display:none;
    padding:7px;
    padding-top:11px;
    padding-bottom: 10px;
    white-space:no-wrap;
    vertical-align:middle;
    background-color:#fff;
    border-bottom: 1px solid #ddd;
}

.scroller-right{
    float:right;
}

.scroller-left {
    float:left;
}

#workArea {
    background-color: #fff;
}

.dragCursor {
    cursor: grab !important;
    cursor: -webkit-grab !important;
    cursor: -moz-grab !important;
}

#previewLandscape, #previewPortrait {
    background-color: #ddd;
    margin-top: 36px;
    margin-right:40px;
    height: 475px;
}

#canvasLoading {
    color:#000;
    position: absolute;
    top:213px;
    width:100%;
    height: 540px;
    background-color: #ccc;
    padding-left:325px;
    padding-top:230px;
    z-index: 100;
}

#tip {
    position: absolute;
    top: 727px;
    height: 25px;
    background-color: #f0ad4e;
    color: #fff;
    font-weight: bold;
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    display: none;
}

.small-input {
    padding-top:0;
    padding-bottom:0;
    padding-left:4px;
    padding-right:4px;
    height:24px;
}

.colorpickerBlack, .colorpickerBlack:hover, .colorpickerBlack:focus {
    background-color: #000 !important;
    border-bottom:0;
    padding-bottom:10px;
 }

.colorpickerWhite, .colorpickerWhite:hover, .colorpickerWhite:focus {
    background-color: #fff !important;
    padding-bottom:10px;
}

#modalSaveAsTemplate .dropdown-menu.open, #modalLoadTemplate .dropdown-menu.open {
    top: auto !important;
    left: auto !important;
    margin-top: 40px;
    max-width: 200px;
    min-width: 458px !important;
}

.grayscale {
    filter: gray; /* IE6-9 */
    filter: grayscale(100%); /* Firefox */
    -webkit-filter: grayscale(1); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.dropdown-fonts {
    max-height:300px;
    min-width: 200px;
    overflow-y: auto;
}

.sorted_table {
    cursor: pointer;
}
.sorted_table tr.placeholder {
    display: block;
    background: red;
    position: relative;
    left:10px;
    margin: 0;
    padding: 0;
    border: none; }
.sorted_table tr.placeholder:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left-color: red;
    margin-top: -5px;
    left: -5px;
    border-right: none; }

.input-group-addon.var {
    background-color: transparent;
    border: 0;
    padding-left: 6px;
    padding-right: 0px;
}

.input-group-addon.var .fa-plus {
    color: #4caf50;
}

.input-group-addon.var .fa-pencil, .fa-refresh, .fa-pencil {
    color: #03a9f4;
}

.fa-remove {
    color: #f44336;
}

.input-group-addon.var .fa, #objectsTable .fa, #templateFieldsTable .fa, #cardDataTable .fa, .fa-refresh, .fa-pencil, .fa-remove {
    cursor: pointer;
}

.input-group-addon.var .fa:hover, #objectsTable .fa:hover, #templateFieldsTable .fa:hover, #cardDataTable .fa:hover, .fa-refresh:hover, .fa-pencil:hover, .fa-remove:hover {
    opacity: 0.6;
}

.fa-lock {
    color: #cccccc;
    cursor: pointer;
}

.fa-lock:hover {
    color: #808080;
}

.fa-lock.active {
    color: #444444;
}

#objectsTable td{
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
}

#objectsTable .darkerRow {
    background-color: #e7e7e7;
}

#modalEditVariable .col-xs-4, #modalEditVariable .col-xs-8 {
    padding-bottom:10px;
}

/* Drag & Drop Upload */
.dz-preview {
    display: none;
}

/* Fonts */
.font-calibri {
    font-family: 'Calibri';
}
.font-times {
    font-family: 'Times New Roman';
}
.font-opensans {
    font-family: "Open Sans";
}
.font-arial {
    font-family: Arial;
}

/* slider */

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 0px 0;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #6bb2f4;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 10px;
    width: 10px;
    border-radius: 0px;
    background: #000000;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -0.2px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #97c6f1;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #6bb2f4;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 10px;
    width: 10px;
    border-radius: 0px;
    background: #000000;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #6bb2f4;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: #6bb2f4;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    width: 10px;
    border-radius: 0px;
    background: #000000;
    cursor: pointer;
    height: 10px;
}
input[type=range]:focus::-ms-fill-lower {
    background: #97c6f1;
}
input[type=range]:focus::-ms-fill-upper {
    background: #97c6f1;
}